@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$dark: #232326;
$light: #F3F2F0;
$white: #FFFFFF;
$accent: #D40000;

$font: 'Inter', sans-serif;

$r_minmob: 320px;
$r_mob_360: 360px;
$r_mob_400: 400px;
$r_mob_500: 500px;
$r_mob_600: 600px;
$r_tab: 768px;
$r_desk: 1000px; // 1024
$r_desk_1150: 1150px;
$r_desk_hd: 1200px; // 1280
$r_desk_wxga: 1340px; // 1366
$r_desk_wxga_xxl: 1500px;
$r_desk_full: 1600px;
$r_desk_full_over: 1680px;
$r_desk_fhd: 1770px; // 1920
$r_desk_2k: 2480px; // 2560
$r_desk_4k: 3760px; // 3840


html {
    font-size: 10px;
    @media (max-width: $r_desk) {
        font-size: 9px;
    }
    @media (max-width: $r_mob_600) {
        font-size: 8px;
    }
}

body {
    background-color: $dark;
    font: 400 1.4rem/1.3 $font;
    color: $light;
    overflow-x: hidden;
}

.main {
    &__dark {
        background: linear-gradient(180deg, #141416 0%, rgba(20, 20, 22, 0.00) 100%);
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    @media (max-width: $r_tab) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    max-width: inherit;
    background: $dark;
    z-index: 99999999;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.2rem 0;
    @media (max-width: $r_tab) {
        display: none;
    }
    &__list {
        min-width: 482px;
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        @media (max-width: $r_desk) {
            min-width: 415px;
            gap: 5%;
        }
    }
    &__link {
        color: $light;
        text-decoration: none;
        transition: .2s;
        padding: .3rem 0;
        &:hover {
            color: $accent;
        }
    }
    &__contact {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    &__tel {
        padding-right: 1.3rem;
    }
    &__mail {
        padding-left: 1.3rem;
        border-left: 1px solid rgba($light, .5);
    }
    &__menu {
        width: 36px;
        height: 26px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    &_mob {
        display: none;
        & .header__item {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        @media (max-width: $r_tab) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 19px 0;
        }
    }
}

.burger-btn {
    display: inline-block;
    padding: 0;
    transition-property: opacity, filter;
    transition-duration: .2s;
    transition-timing-function: linear;
    &__block {
        display: inline-block;
        position: relative;
        width: 24px;
        height: 24px;
    }
    &__inner {
        top: 50%;
        left: .2rem;
        transform: translateY(-50%);
        transition-duration: 0.075s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        &, &::before, &::after {
            position: absolute;
            width: 26px;
            height: 2px;
            transition-property: transform;
            transition-duration: .2s;
            transition-timing-function: ease;
            background-color: $light;
        }
        &::before, &::after {
            content: "";
            display: block;
        }
        &::before {
            top: -9px;
            transition: top 0.075s 0.12s ease, opacity 0.075s ease;
        }
        &::after {
            bottom: -9px;
            transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
    }
    &.active {
        & .burger-btn__inner {
            transform: rotate(45deg);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-delay: 0.12s;
            &::before {
            top: -2px;
            transition: top 0.075s ease, opacity 0.075s 0.12s ease;
            opacity: 0;
            }
            &::after {
            bottom: -1px;
            transform: rotate(-90deg);
            transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
            }
        }
    }
}

.banner-box {
    margin-top: 12.5rem;
    width: 100%;
    height: 100%;
    &__img {
        height: auto;
        width: 100%;
    }
    @media (max-width: $r_desk) {
        margin-top: 10.5rem;
    }
    @media (max-width: $r_tab) {
        margin-top: 64px;
    }
}

.main-text {
    margin: 11.7rem 0 10rem;
    position: relative;
    &__name {
        font-size: 2.8rem;
        margin-top: 0;
        margin-bottom: 3rem;
        @media (max-width: $r_desk) {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }
    }
    &__figure1 {
        position: absolute;
        z-index: -2;
        width: 253px;
        height: 253px;
        left: -127px;
        top: -57px;
        @media (max-width: $r_desk_wxga) {
            width: 240px;
            height: 240px;
            left: -60px;
            top: -57px;
        }
        @media (max-width: $r_desk) {
            width: 220px;
            height: 220px;
            left: -70px;
            top: -55px;
        }
    }
    &__figure2 {
        position: absolute;
        z-index: -1;
        width: 76px;
        height: 72px;
        top: -20px;
        left: -155px;
        @media (max-width: $r_desk_wxga) {
            width: 71px;
            height: 66px;
            top: -75px;
            left: -65px;
        }
        @media (max-width: $r_desk) {
            width: 58px;
            height: 53px;
            top: 125px;
            left: 0;
        }
    }
    @media (max-width: $r_desk) {
        margin: 60px 0 100px;
    }
}

.title {
    font-size: 7.4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    margin: 0;
    z-index: 2;
    position: relative;
    @media (max-width: $r_desk) {
        font-size: 5.5rem;
    }
    &_mini {
        font-size: 2.8rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .84px;
        margin: 0;
        z-index: 1;
    }
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5.7rem;
    position: relative;
    border-bottom: 1px solid $light;
    &__figure {
        position: absolute;
        width: 106px;
        height: 106px;
        z-index: -1;
        right: 37px;
        @media (max-width: $r_desk) {
            width: 100px;
            height: 100px;
            z-index: -1;
            right: 32px;
        }
    }
}

.socials {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    &__item {
        &:first-child {
            margin-left: 0;
        }
    }
    &__item + &__item {
        border-left: 1px solid rgba($light, .5);
        margin-left: 2.8rem;
        padding: 0.1rem 0 0.1rem 2.75rem;
    }
    &__link {
        font-size: 1.6rem;
        text-decoration: none;
        color: $light;
        transition: .2s;
        &:hover {
            color: $accent;
        }
    }
}

.discuss {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
    display: inline-flex;
    align-items: center;
    gap: 1.75rem;
    position: relative;
    transition: .2s;
    & a {
        color: $light;
        text-decoration: none;
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: $light;
            display: block;
            position: absolute;
            left: 0;
            bottom: -6px;
            opacity: 0;
        }
    }
    &::after {
        content: '';
        background-image: url(../images/arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        background-size: contain;
        width: 16px;
        height: 12px;
    }
    &:hover {
        & a::after {
            opacity: 1;
        }
    }
}

.skills {
    display: flex;
    gap: 4.5%;
    margin-top: 6.25rem;
    &__title {
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .48px;
        margin: 0;
    }
    &__desc {
        margin: 1.75rem 0 0 0;
        line-height: 1.5;
        max-width: 238px;
        opacity: .8;
    }
    @media (max-width: $r_desk_1150) {
        gap: 3.5%;
    }
    @media (max-width: $r_desk) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 25px;
    }
}

.about {
    padding-top: 18rem;
    display: grid;
    grid-template-columns: 51% 49%;
    @media (max-width: $r_desk) {
        padding-top: 13rem;
    }
    &__title {
        @media (max-width: $r_desk_1150) {
            border-bottom: none !important;
            margin-bottom: 20px;
        }
    }
    &__text {
        opacity: .8;
    }
    &__title, &__text {
        border-bottom: 1px solid $light;
    }
    &__item {
        grid-area: c;
        grid-column: 2 / 3;
    }
    @media (max-width: $r_desk_1150) {
        display: flex;
        flex-direction: column;
    }
}

.about-item {
    padding-top: 6rem;
    display: grid;
    grid-template-columns: 40% 47%;
    gap: 6rem 6.5rem;
    @media (max-width: $r_desk_1150) {
        grid-template-columns: repeat(2, 47%);
        gap: 5rem 5%;
    }
    @media (max-width: $r_desk) {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 25px;
    }
    &__title {
        margin: 0;
    }
    &__desc {
        margin: 2.4rem 0 0;
        line-height: 1.5;
        opacity: .8;
    }
}

.description {
    font-size: 2.8rem;
    line-height: 1.5;
    margin: 0;
    padding-bottom: 6rem;
}


.steps {
    padding-top: 17.5rem;
    @media (max-width: $r_desk) {
        padding-top: 14.5rem;
    }
    &__list {
        list-style-type: none;
        counter-reset: item;
        margin: 0;
        padding: 0;
    }
    &__step {
        display: flex;
        align-items: center;
        gap: 1%;
        border-top: 1px solid $light;
        @media (max-width: $r_tab) {
            align-items: start;
        }
    }
    &__step:last-child {
        border-bottom: 1px solid $light;
    }
    &__item {
        font-size: 2.8rem;
        padding: 3.2rem 0 3.3rem;
        list-style-position: outside;
        flex-basis: 52%;
        &::before {
            content: '0'counter(item);
            counter-increment: item;
            margin-right: 4rem;
        }
    }
    &__desc {
        font-size: 1.6rem;
        margin: 0;
        padding: 3.2rem 0 3.3rem;
        color: rgba($light, .8);
        flex-basis: 47%;
    }
}

.portfolio {
    padding-top: 17.5rem;
    &__title .title {
        letter-spacing: normal;
    }
    &__figure {
        position: absolute;
        z-index: -1;
        width: 465px;
        height: 465px;
        top: -326px;
        right: 29%;
        @media (max-width: $r_desk) {
            width: 400px;
            height: 400px;
            top: -267px;
            right: 0;
        }
    }
    &__items {
        margin-top: 14.4rem;
        position: relative;
        z-index: 1;
        @media (max-width: $r_desk) {
            margin-top: 10rem;
        }
    }
    &__item {
        border-bottom: 1px solid $light;
        padding: 6rem 0 5.4rem;
    }
}

.portfolio-item {
    display: flex;
    justify-content: space-between;
    @media (max-width: $r_desk) {
        flex-direction: column;
    }
    &__text {
        margin-top: 4rem;
        @media (max-width: $r_desk) {
            margin-bottom: 40px;
        }
    }
    &__title {
        font-size: 2.8rem;
        font-weight: 700;
        margin: 0;
    }
    &__list {
        list-style-type: none;
        margin: 4.5rem 0;
        padding: 0;
        font-size: 1.6rem;
        opacity: .8;
    }
    &__item {
        position: relative;
        padding-left: 1.2rem;
        &::before {
            position: absolute;
            content: '-';
            left: 0;
        }
    }
    &__item + &__item {
        margin-top: 1.3rem;
    }
    &__time {
        font-size: 1.6rem;
        font-weight: 700;
        margin: 0;
    }
    &__img {
        width: 56rem;
        height: auto;
    }
}

.offer {
    margin-top: 18rem;
    @media (max-width: $r_desk) {
        margin-top: 15rem;
    }
    &__text {
        padding-bottom: 8rem;
        max-width: 875px;
    }
    &__box {
        border-top: 1px solid $light;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 8rem;
        gap: 7.5rem 1rem;
        @media (max-width: $r_desk) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.offer-item {
    display: flex;
    align-items: center;
    gap: 3.8rem;
    @media (max-width: $r_desk_1150) {
        gap: 2rem;
    }
    &::before {
        content: '';
        display: block;
        width: 70px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        @media (max-width: $r_desk_1150) {
            width: 55px;
        }
    }
    &._1::before {
        background-image: url(../images/money.svg);
        width: 55px;
    }
    &._2::before {
        background-image: url(../images/experience.svg);
    }
    &._3::before {
        background-image: url(../images/clock.svg);
    }
    &._4::before {
        background-image: url(../images/phone.svg);
        width: 55px;
    }
    &._5::before {
        background-image: url(../images/code.svg);
    }
    &._6::before {
        background-image: url(../images/file.svg);
        width: 60px;
    }
    &__title {
        font-size: 1.6rem;
        font-weight: 600;
        margin: 0;
    }
    &__desc {
        opacity: .8;
        margin-top: 1rem;
        margin-bottom: 0;
        line-height: 1.5;
    }
}

.languages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 18rem;
    @media (max-width: $r_desk) {
        margin-top: 15rem;
    }
    &__item {
        text-align: center;
        border: 1px solid rgba($light, .5);
        cursor: pointer;
        transition: .2s;
        &:hover {
            border: 1px solid rgba($light, 1);
            & .languages__img {
                filter: grayscale(0);
            }
        }
        &._html {
            padding: 3.2rem 0 2rem;
        }
        &._css, &._jquery {
            padding: 3.3rem 0 2rem;
        }
        &._js {
            padding: 3.6rem 0 2.75rem;
        }
        &._bootstrap {
            padding: 3.9rem 0 2.8rem;
        }
        &._php {
            padding: 4.7rem 0 3.6rem;
        }
        &._vue {
            padding: 3.9rem 0 2rem;
        }
        &._wp {
            padding: 3.7rem 0 3rem;
        }
    }
    &__img {
        filter: grayscale(1);
        transition: .2s;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    transition: .2s;
    &:hover {
        & .tooltip__text {
            visibility: visible;
        }
    }
    &__text {
        visibility: hidden;
        width: 232px;
        background-color: #E31B1B;
        color: $light;
        font-size: 1rem;
        line-height: 1.5;
        text-align: center;
        padding: 3rem 1.5rem;
        position: absolute;
        z-index: 1;
        top: 90%;
        left: 4%;
        @media (max-width: $r_desk_1150) {
            left: 1%;
        }
        @media (max-width: $r_desk) {
            width: 195px;
        }
        @media (max-width: $r_tab) {
            left: -15%;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 46%;
            border-width: 9px;
            border-style: solid;
            border-color: transparent transparent #E31B1B transparent;
        }
    }
}

.price {
    padding-top: 18.5rem;
    @media (max-width: $r_desk) {
        padding-top: 15.5rem;
    }
    &__header {
        position: relative;
    }
    &__figure {
        position: absolute;
        width: 140px;
        height: 140px;
        top: -53px;
        left: -71.5px;
        z-index: 0;
    }
    &__text {
        padding-bottom: 7.5rem;
        opacity: 0.8;
    }
    &__item {
        padding: 6rem 0 6.3rem;
    }
    &__header, &__item {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $light;
    }
    &__item:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
    &__title, & .price-item__title {
        max-width: 37.1rem;
    }
    &__text, & .price-item__features {
        flex-basis: 49%;
    }
}

.price-item {
    &__title {
        font-size: 2.8rem;
        margin: 0;
        line-height: 1.5;
    }
    &__desc {
        font-size: 1.6rem;
        font-weight: 500;
        opacity: .8;
        margin: 2.2rem 0 8rem;
    }
    &__head {
        font-size: 1.6rem;
        font-weight: 700;
        margin: .2rem 0 0;
    }
    &__list {
        padding-left: 1.5rem;
        margin: 3rem 0 5rem;
    }
    &__item {
        font-size: 1.6rem;
        opacity: .8;
    }
    &__item, &__item {
        margin-top: 1rem;
    }
    &__cost {
        font-size: 4.2rem;
        font-weight: 700;
        position: relative;
        z-index: 0;
    }
    &__figure {
        position: absolute;
        width: 90px;
        height: 90px;
        top: -19px;
        left: -45px;
        z-index: -1;
    }
}

.form {
    margin-top: 8rem;
    padding-top: 10.5rem;
    display: grid;
    grid-template-columns: 51% 49%;
    position: relative;
    z-index: 1;
    @media (max-width: $r_desk) {
        margin-top: 5rem;
    }
    &__figure1 {
        position: absolute;
        z-index: -2;
        width: 300px;
        height: 300px;
        top: 73px;
        left: -153px;
        @media (max-width: $r_desk_wxga) {
            width: 280px;
            height: 280px;
            top: 40px;
            left: -110px;
        }
        @media (max-width: $r_desk) {
            top: 20px;
            left: -60px;
        }
    }
    &__figure2 {
        position: absolute;
        z-index: -1;
        width: 73px;
        height: 66px;
        top: 133px;
        left: -181px;
        @media (max-width: $r_desk_wxga) {
            width: 61px;
            height: 55px;
            top: 38px;
            left: 100px;
        }
        @media (max-width: $r_desk) {
            width: 59px;
            height: 53px;
            top: 27px;
            left: 155px;
        }
    }
    &__title {
        max-width: 290px;
        line-height: 1.5;
    }
    &__header, &__text {
        border-bottom: 1px solid $light;
    }
    &__text {
        padding-bottom: 5.7rem;
    }
    & .socials {
        align-self: end;
    }
    &__box {
        padding-top: 6.1rem;
    }
}

.discuss-window {
    &__item {
        margin-bottom: 2.2rem;
    }
    &__label {
        font-size: 1.2rem;
        opacity: .8;
        display: block;
        margin-bottom: 1.2rem;
    }
    &__input {
        background: rgba($light, .1);
        border: none;
        border-radius: 0;
        font-size: 1.2rem;
        color: $light;
        width: 100%;
        box-sizing: border-box;
        padding: 2.5rem 1.8rem 2.5rem;
        transition: .2s;
        &::placeholder {
            color: rgba($light, .15);
        }
        &:focus {
            outline: none;
            border: none;
        }
    }
    &__btn {
        border: none;
        box-sizing: border-box;
        width: 100%;
        background-color: $accent;
        color: $light;
        font-size: 1.6rem;
        cursor: pointer;
        padding: 2.2rem 0 2.3rem;
        margin-top: 1.8rem;
        transition: .2s;
        &:hover {
            background-color: #EA0E00;
        }
    }
}

.drop {
    display: block;
    position: relative;
    &__input {
        display: none;
        &:checked {
            & ~ .drop__items{
            opacity: 1;
            max-height: 400px;
            }
            & ~ .drop__control{       
            z-index:99;
            background: rgba($light, .1);
            &:after{
                transform: rotate(180deg);
            }
            }
            & ~ .overlay-close{
            transform: none;
            pointer-events:initial;
            }
        }
    }
    &__control {
        color: $light;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        font-size: 1.2rem;
        padding: 2.5rem 2.5rem 2.5rem 1.8rem;
        background: rgba($light, .1);
        transition: all .2s ease;
        width: 100%;
        box-sizing: border-box;
        &:after {
            content:"";
            display: inline-block;      
            height: 1.1rem;
            width: 1.2rem;
            background-image: url(../images/arrow-dropdown.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;      
            transition: transform .2s ease;
        }  
    }
    &__items {
        position: absolute;
        top: 100%;    
        width: 100%;
        padding: 0 2rem 1.7rem;
        margin: 0;
        transition: all .2s ease;    
        background: rgba($light, .1);
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        z-index: 99;
        box-sizing: border-box;
        font-size: 1.2rem;
    }
    &__item {
        list-style:none;
        & a {        
            display: block;
            color: rgba($light, .4);
            text-decoration: none;
            transition: all .2s ease;
            &:hover {
                color: rgba($light, 1);
            }     
        }
    }
    & .drop__item + .drop__item {
        margin-top: 1.7rem;
    }
    & .overlay-close {
      position: fixed;    
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 9;
      transform: translate(100%,0);
      pointer-events: none;
    }
}

.footer {
    margin-top: 13rem;
    border-top: 1px solid $light;
    &__nav {
        display: flex;
        justify-content: space-between;
        padding: 6.1rem 0 4.3rem;
    }
    &__bottom {
        font-size: 1.2rem;
        color: rgba($light, .3);
        display: flex;
        justify-content: space-between;
        padding-bottom: 4.2rem;
    }
    &__link {
        color: rgba($light, .3);
        transition: .2s;
        &:hover {
            color: rgba($light, 1);
        }
    }
}

.popup {
    position: fixed;
    padding: 6rem 2rem 4rem;
    width: 562px;
    top: 57.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $dark;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s, visibility 0s linear .5s;
    z-index: 999999;
    &__header {
        text-align: center;
        margin-bottom: 3rem;
    }
    &__title {
        font-size: 2.2rem;
        text-transform: uppercase;
        letter-spacing: .66px;
        margin: 0 0 1.5rem;
    }
    &__desc {
        font-size: 1.6rem;
        line-height: 1.5;
        width: 370px;
        display: inline-block;
    }
    & .discuss-window {
        padding-top: 4rem;
        border-top: 1px solid $light;
    }
    &:target {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
    }
    &:target + .close-popup-overlay {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
    }
    &__close {
        position: absolute;
        right: 20px;
        top: 20px;
        background-image: url(../images/close.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
    }
    & .drop .overlay-close {
        pointer-events: none;
    }
}

.close-popup-overlay {
    background-color: rgba(18, 18, 19, .6);
    cursor: default;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility 0s linear .5s;
    z-index: 999998;
}

.modal-menu {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    z-index: 1000000000000;
    background-color: $dark;
    padding: 80px 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s cubic-bezier(0.6, 0.05, 0.28, 0.91);
    &.active {
        top: 0;
        opacity: 1;
    }
    &__nav {
        width: 100%;
    }
    & .header__list {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 26px;
    }
    & .header__item {
        padding: 20px 0;
        border-top: 1px solid rgba($light, .1);
    }
    & .header__item:last-child {
        border-bottom: 1px solid rgba($light, .1);
    }
    & .header__contact {
        font-size: 14px;
        margin: 40px 0 20px;
    }
    & .socials {
        font-size: 12px;
    }
    &__close {
        position: absolute;
        right: 10px;
        top: 20px;
        background-image: url(../images/close.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
    }
}